
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access to all documents
    // for developers to get started quickly.
    // IMPORTANT: Make sure to secure your database before deploying to production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
